<template>
	<div style="flex-direction: column;flex: 1">
	 <header></header>
		 <text class="message">Now, let's use Vue.js to build your Weex app.</text>
	</div>
 
</template>
<script>
import NavView from '../views/navigation-view.vue';
  module.exports = {
    components: {
        'header': NavView,
      },
    data: {
      
    },
    methods: {
      
    }
  }
</script>