<template>
  <div>
    <slider class="slider" interval="3000" auto-play="false">
      <div class="frame" v-for="(img,index) in imageList">
      	 <div class="content">
      	 	 <image class="image" resize="cover" :src="img.src">  
      	 	 </image>
      	 	 <div style="height: 120px;width: 120px;margin-left: 35px;margin-top: 1050px;position: relative;" v-on:click="bottomClick1"></div>
      	 	 <div style="height: 120px;width: 120px;margin-left: 60px;margin-top: 1010px;position: relative;" v-on:click="bottomClick2"></div>
      	 	 <div style="height: 120px;width: 120px;margin-left: 60px;margin-top: 1010px;position: relative;" v-on:click="bottomClick3" ></div>
      	 	 <div style="height: 120px;width: 120px;margin-left: 60px;margin-top: 1050px;position: relative;" v-on:click="bottomClick4"></div>
      	 	 <div style="height: 120px;width: 120px;margin-left: 600px;margin-top: 30px;position: absolute;" v-on:click="setterClick"></div>
      	 	 <text style="background-color: green;position: absolute;">{{title}}</text>
      	 </div>
      </div>
    </slider>
  </div>
</template>

<style scoped>
  .slider {
    width: 750px;
    height: 1250px;
    
  }
  .image {
  	width: 750px;
    height: 1250px;
  	position: absolute;
  }
  .frame {
    width: 100%;
    height: 100%;
  
  }
  .content {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	flex-direction: row;
  }
</style>

<script>
  import navigateTo from "../tools/router";
  export default {
  	created () {
        this.screenH = this.$getConfig().env.deviceHeight
        this.screenW = this.$getConfig().env.deviceWidth
    },
    data () {
      return {
      	screenH: 0,
      	screenW: 0,
      	fontSize:100,
      	title: 'scroll please!',
        imageList: [
          { src: 'https://i.loli.net/2019/12/24/HZSjatmg2O6bNVz.jpg'},
          { src: 'https://i.loli.net/2019/12/24/kQ6cYr3OzTCIq8P.jpg'}
        ]
      }
    },
    methods: {
      setterClick:function() {
      	//设置点击按钮  
      	 navigateTo("setter-page")
            
      },
      bottomClick1:function() {
           this.title = 'click1'
           var arr = [{src:'https://i.loli.net/2019/12/24/HZSjatmg2O6bNVz.jpg'},
                     {src: 'https://i.loli.net/2019/12/24/kQ6cYr3OzTCIq8P.jpg'}
                    ]
           this.imageList = arr
      },
      bottomClick2:function() {
          // this.title = 'click2'
          // var arr = [{src:'https://i.loli.net/2019/12/25/qES5gN9jKtfhdz2.jpg'},
          //            {src: 'https://i.loli.net/2019/12/25/utAzSxYKsnOQ79U.jpg'}
          //           ]
          // this.imageList = arr
          weex.requireModule("event").showAlert("hello Weex")
      },
      bottomClick3:function() {
          this.title = 'click3'
          var arr = [{src:'https://i.loli.net/2019/12/25/9EzKdMHJZVuNagB.jpg'},
                     {src: 'https://i.loli.net/2019/12/25/C4vMWtBlpfjo6On.jpg'}
                    ]
          this.imageList = arr
      },
      bottomClick4:function() {
          this.title = 'click4'
           var arr = [{src:'https://i.loli.net/2019/12/25/UwTJEtYe1nWdNMK.jpg'},
                     {src: 'https://i.loli.net/2019/12/25/CnpU5Bv13O6wihc.jpg'}
                    ]
          this.imageList = arr
      },
    },
    computed:{
    	compClasses:function() {
    		this.fontSize = 200
    	}
    }
  }
</script>