<template>
  <div>
  	 <div style="background-color: rgb(30,30,30);height: 166px;flex-direction: row;">
  	 	 <div style="flex: 0.2;justify-content: center;">
          <image style="height: 88px;width: 88px;margin-left: 20px;" src="https://i.loli.net/2019/12/25/NPwgSBqucK5Avaj.png" @click="popAction"></image> 
       </div>
       <div style="justify-content: center;flex: 1;margin-left: 200px">
            <text style="color: white;font-size: 50px">Setting</text>
       </div>
     
  	 </div>
  	 <div style="background-color:rgb(30,30,30);height: 1230px">
  	 	<div v-for="(item,index) in dataArray" style="height: 140px;justify-content: center;">
  	 		<div style="flex-direction: row;" @click="cellClieck(index)">
  	 			<text style="color: white;font-size: 40px;margin-left: 30px">{{item.title}}</text>
  	 		    <div style="flex:1;align-items: center;flex-direction: row-reverse">
  	 		    	<image :src="item.image" style="height: 36px;width: 36px;margin-right: 30px"></image>
  	 		    </div>
  	 		</div>
  	 		
  	 	</div>
  	 </div>
  </div>
</template>

<script>
	import navigateTo from "../tools/router";
export default {

    data () {
      return {
        dataArray:[
            {
            	title:'Feedback',
            	image:'https://i.loli.net/2019/12/25/VMzuly5BWgRHcIh.png'
            },
            {
            	title:'Privacy Policy',
            	image:'https://i.loli.net/2019/12/25/VMzuly5BWgRHcIh.png'
            },
            {
            	title:'Terms of Service',
            	image:'https://i.loli.net/2019/12/25/VMzuly5BWgRHcIh.png'
            }
        ]
      }
    },
    methods: {
      popAction: function () {
          var navigator = weex.requireModule('navigator')
		  navigator.pop({
			  animated: "true"
		  }, event => {
			  console.log('callback: ', event)
		  })

      },
      cellClieck:function(index) {
        if (index == 0) {
            navigateTo('feedback-page')
        }
      	else if (index == 1) {
      		navigateTo('polycy-page')
      	}
      	else if(index == 2) {
      		navigateTo('server-page')
      	}
      }
    }
}
</script>
