<template>
  <div>
  	 <div style="background-color: rgb(30,30,30);height: 166px;position: relative;justify-content: center; flex: 1">
  	 	<image style="height: 88px;width: 88px;margin-left: 20px;" src="https://i.loli.net/2019/12/25/NPwgSBqucK5Avaj.png" @click="popAction"></image>
  	 </div>
  </div>
</template>
<script>
export default {
    data () {
      return {
      }
    },
    methods: {
      popAction: function () {
          var navigator = weex.requireModule('navigator')
		  navigator.pop({
			  animated: "true"
		  }, event => {
			  console.log('callback: ', event)
		  })

      }
  }
}
</script>